    <header>

        <div class="header-content">
	        <div class="header-title">{{ site.title }}</div>
	        
	        <!-- NAVIGATION -->
	        <nav>
            <ul>
            {% for item in site.data.subpages %}
              {% if item.subitems.size > 0 %}
                <li>
                  <strong>{{ item.name }}</strong>
                  <ul>
                    {% for subitem in item.subitems %}
                      <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  {% assign htmlRemoved = page.url | remove: ".html" %}
                  <a href="{{ item.link }}" {% if htmlRemoved == item.link %}style="color: red;"{% endif %}>
                    {{ item.name }}
                  </a>
                </li>
              {% endif % }
            {% endfor %}
            {% endfor %}
            </ul>
	        </nav>
        	
        </div>
      </header>
