<div class="horiz-navbar">
    <nav>
        <ul>
        {% for item in site.data.pages %}
        {% if item.subitems.size > 0 %}
            <div {% if page.url contains item.link and item.link != "/" or page.url == item.link %}class="horiz-navbar-selected"{% else %} class="horiz-navbar-unselected" {% endif %}>
                <li>
                    {{ item.name }}
                    <ul>
                        {% for subitem in item.subitems %}
                            <li><a href="{{ subitem.link }}" {% if page.url contains subitem.link and subitem.link != "/" or page.url == subitem.link %}class="horiz-navbar-sub-selected"{% else %} class="horiz-navbar-sub-unselected" {% endif %}>{{ subitem.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
        {% else %}
            <!-- special case for root/home selection, otherwise just use contains; posts will highlight blog section -->
            <a href="{{ item.link }}" {% if page.url contains item.link and item.link != "/" or page.url == item.link %}class="horiz-navbar-selected"{% else %} class="horiz-navbar-unselected" {% endif %}>
                <li>
                    {{ item.name }}
                </li>
            </a>
        {% endif % }
        {% endfor %}
        {% endfor %}
        </ul>
    </nav>
</div>