<div class="horiz-navbar">
    <nav>
        <ul>
        {% for item in site.data.pages %}
        {% if item.subitems.size > 0 %}
            <li class="toplevel" {% if page.url contains item.link and item.link != "/" or page.url == item.link %}style="background: #6a94a3; border-top: 5px solid #6a94a3; border-left: 5px solid #6a94a3; border-right: 5px solid #6a94a3;"{% endif %}>
            <strong>{{ item.name }}</strong>
            <ul>
                {% for subitem in item.subitems %}
                <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
                {% endfor %}
            </ul>
            </li>
        {% else %}
            <!-- special case for root/home selection, otherwise just use contains; posts will highlight blog section -->
            <a href="{{ item.link }}" class="toplevel" {% if page.url contains item.link and item.link != "/" or page.url == item.link %}style="background: #6a94a3; border-top: 5px solid #6a94a3; border-left: 5px solid #6a94a3; border-right: 5px solid #6a94a3;"{% endif %}>
                <li>
                    {{ item.name }}
                </li>
            </a>
        {% endif % }
        {% endfor %}
        {% endfor %}
        </ul>
    </nav>
</div>