
      <aside class="left-sidebar">
        <div class="sidebar-section">
          <div class="sidebar-title">current</div>
            <div>
              games:
              <ul>
                 {% for item in site.data.current-games %}
                  <li>
                    <i>{{ item.name }}</i>
                  </li>
                 {% endfor %}
              </ul>
            </div>
             <div>
              projects:
              <ul>
                {% for item in site.data.current-projects %}
                  <li>
                    {{ item.name }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
        </div>

        <hr />

        <div class="sidebar-section">
          <div class="sidebar-title">song of the week</div>
            <div>
              {% assign song = site.data.songs | last %}
              <iframe style="border-radius:12px" src= {{ song.spotifyUrl }} width="100%" height="80" frameBorder="0" allowfullscreen="" allow="clipboard-write; encrypted-media; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
       
        <!-- <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Necessit atibus perferendis inventore tempore vel optio similique blanditiis quasi quam?</p>
          </blockquote>
        </div>
        
        <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <ul>
            <li>List</li>
            <li>List</li>
            <li><a href="/">List</a></li>
            <li>List</li>
          </ul>
        </div> -->
        <hr />


        <div class="sidebar-section">
          <div class="sidebar-title">latest updates</div>
            <div>
              <ul>
                {% assign updateList = site.data.latest-updates | slice: 0,5 %}
                {% for item in updateList %}
                    <li>
                      {{ item.date }} - {{ item.name }}
                    </li>
                {% endfor %}
             </ul>
            </div>
        </div>

        <hr />

        <div class="sidebar-section">
          <div class="sidebar-title">link buttons</div>
          <marquee scrollamount="2">
            {% for item in site.data.link-buttons %}
          	  <a href={{ item.url }} target="_blank"><img src={{ item.src }} alt={{ item.alt }}></a>
            {% endfor %}
          </marquee>
        </div>
        
        <!-- <div class="sidebar-section">
          <div class="sidebar-title">Section Title</div>
          <img class="full-width-image" src="https://picsum.photos/id/14/1000/400">
        </div> -->
        
        <div class="sidebar-section">
          <div class="sidebar-title">link back</div>
          <div class="site-button">
          	<a href="https://tasogare.moe/" target="_blank"><img src="/assets/images/tasogare-button.gif" alt="tasogare.moe"></a>
        	<textarea><a href="https://tasogare.moe/" target="_blank"><img src="https://raw.githubusercontent.com/tasogare-digitalily/tasogare.moe/refs/heads/main/assets/images/tasogare-button.gif" alt="tasogare.moe"></a></textarea>
          </div>
        </div>
      </aside>